// CONTAINERS
.container-70 {
  width: 70%;
  margin: 0 auto;
}

.container-80 {
  width: 80%;
  margin: 0 auto;
}

.container-90 {
  width: 90%;
  margin: 0 auto;
}

.container-1920 {
  max-width: 1920px;
}

// ROW
.row {
  display: flex;
}

// COLUMN
.col-20 {
  width: 20%;
}

.col-30 {
  width: 30%;
}

.col-40 {
  width: 40%;
}

.col-50 {
  width: 50%;
}

.col-60 {
  width: 60%;
}

.col-70 {
  width: 70%;
}

.col-80 {
  width: 80%;
}
