// CONTAINERS
.container-70 {
  width: 70%;
  margin: 0 auto;
}

.container-80 {
  width: 80%;
  margin: 0 auto;
}

.container-90 {
  width: 90%;
  margin: 0 auto;
}

// ROW
.row {
  display: flex;
}

// COLUMN
.col-50 {
  width: 50%;
}
