// COLORS
$primary-color: #40c4ff;

// TEXT
$grey-subtitle: #d4d4d4;
$grey-paragraph: #9f9f9f;

// BACKGROUNDS
$bg-about-carousel: #303b7a;
$bg-home-icon-list: #f2f8fc;

// LABELS
$free-label: #ffd740;
$cart-label: #ef2853;
